<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.rcptt.launching.ext">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="ch.elexis.core.application.ElexisApp"/>
    <booleanAttribute key="askclear" value="true"/>
    <stringAttribute key="aut-location" value="/home/niklaus/git/elexis-uitest/os"/>
    <stringAttribute key="aut-target-platform" value="AUT Elexis3MasterLinuxPostgresql (Target Platform)"/>
    <booleanAttribute key="aut-target-updatable" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="false"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="com.xored.launching.common.attrArch" value="x86_64"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Elexis3MasterLinuxPostgresql"/>
    <stringAttribute key="location" value="${workspace_loc}/../aut-Elexis3MasterLinuxPostgresql"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="SWT_GTK3" value="0"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Elexis3MasterLinuxPostgresql/console.log"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-17-openjdk-amd64"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os linux -ws gtk -arch x86_64 -consoleLog -nl it_CH"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024m -Duser.language=it -Duser.region=CH -Dfile.encoding=utf-8 -Dorg.eclipse.gemini.refreshBundles=false --add-opens java.base/java.lang=ALL-UNNAMED --add-modules=ALL-SYSTEM&#10;&#10; -Dch.elexis.dbFlavor=postgresql -Dch.elexis.dbSpec=jdbc:postgresql://localhost/elexis_rcptt_it &#10;-Dch.elexis.dbUser=elexis -Dch.elexis.dbPw=elexisTest &#10;-Dch.elexis.firstMandantName=Mustermann -Dch.elexis.firstMandantPassword=elexisTest&#10;-Dch.elexis.firstMandantEmail=mmustermann@elexis.info -Dch.elexis.username=Mustermann &#10;-Dch.elexis.password=elexisTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/niklaus/git/elexis-uitest/os"/>
    <stringAttribute key="org.eclipse.rcptt.launching.ATTR_AUT_LAUNCH_ID" value=""/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="ch.elexis.core.application.product"/>
    <booleanAttribute key="restart" value="false"/>
    <booleanAttribute key="tracing" value="true"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
