target/
work/
workspace/
runFromScratch/
*.patch
*.log
*#
drop_create_db.sql
.vagrant/
de
fr
it
os
*.log
*~
rcptt/
rcptt-ws/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
